*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header*/

header{
    height: 100px;
    background-color: white;
}

.logo_container{
    height: 60px;
    color: black;
    display: inline-block;
        margin: 20px 50px;
}

.logo{
    height: 50px;
    width: 50px;
    display: inline-block;
    vertical-align: middle;
}

.logo img{
    background-size: contain;
    }

.logo_name{
    font-size: 50px;
    font-weight: bold;
    vertical-align: middle;
}

/*main*/

main {
     background-color: #38AAFF;
     padding: 40px 70px 50px 70px;
}

.container {
    width: 80%;
    margin: auto;
    background-color: white;
    padding: 20px 50px 20px 50px;
    
}

/*primo blocco*/

#first{
    border-bottom: 0.5px solid grey;
}

.button_add {
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
}

#add_task{
    background-color: #38AAFF;
}

#add_section{
    border: solid grey 0.5px;
}

/*secondo blocco*/

.block_title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;

}

.block_title::before{
    content: '\2714';
}


.text::before{
    content: '\2714';
    color: green;
    border-radius: 50%;
    text-align: center;
    width: 20px;
    height: 20px;
    border: 1px solid green;
    padding: 1px 3px;
    font-size: 80%;
    line-height: 20px;
}

.text{
    font-weight: 500;
}

.button{
    border-radius: 15px;
    padding: 5px 10px;
    color: white;
}

#editorial{
    background-color: blue;
}