*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header*/

header{
    height: 100px;
    background-color: white;
}

.logo_container{
    height: 60px;
    color: black;
    display: inline-block;
        margin: 20px 50px;
}

.logo{
    height: 50px;
    width: 50px;
    display: inline-block;
    vertical-align: middle;
}

.logo img{
    background-size: contain;
    }

.logo_name{
    font-size: 50px;
    font-weight: bold;
    vertical-align: middle;
}

/*main*/

